language: ruby
rvm:
  - 2.6.4
before_install:
  - brew install geckodriver
before_script:
  - export DISPLAY=:99.0
services:
  - xvfb
cache: bundler
bundler_args: --without development --deployment
notifications:
  email: false
script:
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rspec spec