language: ruby
addons:
  firefox: latest
rvm:
  - 2.6.4
before_script:
  - export DISPLAY=:99.0
cache: bundler
bundler_args: --without development --deployment
notifications:
  email: false
script:
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rspec spec