%dv.contact-header
  %h2 Contact 完了

%div.contact-desc
  お問い合わせいただきありがとうございました！
  %br
  お問い合わせ内容は管理者宛にメールで送信されました。
  %br
  内容を確認の上、ご返信致しますのでしばしお待ちくださいませ。
  %br
  = link_to 'トップページに戻る', root_path, class: 'btn'